<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="propertiesHolder" class="transport.TransportPropertiesHolder">
        <constructor-arg value="transport.properties"/>
    </bean>
    <bean id="storageTXT" class="transport.storages.TransportStorageTXT">
        <constructor-arg ref="propertiesHolder"/>
        <constructor-arg><bean class="java.util.Date"/> </constructor-arg>
    </bean>
    <bean id="storageCSV" class="transport.storages.TransportStorageCSV">
        <constructor-arg ref="propertiesHolder"/>
    </bean>
    <bean id="storageXLS" class="transport.storages.TransportStorageXLS">
        <constructor-arg ref="propertiesHolder"/>
    </bean>
    <bean id="storageDB" class="transport.storages.TransportStorageDB">
        <constructor-arg ref="propertiesHolder"/>
    </bean>
    <bean id="storageDBPrepared" class="transport.storages.TransportStorageDBPrepared">
        <constructor-arg ref="propertiesHolder"/>
    </bean>
    <bean id="storageHibernate" class="transport.storages.TransportStorageHibernate"/>
    <bean id="storageFactory" class="transport.storages.TransportStorageFactory">
        <constructor-arg index="0" ref="propertiesHolder"/>
        <constructor-arg index="1">
            <map>
                <entry key="txt" value-ref="storageTXT"/>
                <entry key="csv" value-ref="storageCSV"/>
                <entry key="xls" value-ref="storageXLS"/>
                <entry key="db" value-ref="storageDB"/>
                <entry key="db.prepared" value-ref="storageDBPrepared"/>
                <entry key="hibernate" value-ref="storageHibernate"/>
            </map>
        </constructor-arg>
    </bean>
    <bean id="mapHolder" class="forweb.TransportMapHolder">
        <constructor-arg ref="storageFactory"/>
    </bean>
    <bean id="databaseService" class="transport.DataBaseService">
        <constructor-arg index="0">
            <bean class="java.lang.String" factory-bean="propertiesHolder" factory-method="getDriverSybase"/>
        </constructor-arg>
        <constructor-arg index="1">
            <bean class="java.lang.String" factory-bean="propertiesHolder" factory-method="getConnectionUrl"/>
        </constructor-arg>
        <constructor-arg index="2">
            <bean class="java.lang.String" factory-bean="propertiesHolder" factory-method="getConnectionLogin"/>
        </constructor-arg>
        <constructor-arg index="3">
            <bean class="java.lang.String" factory-bean="propertiesHolder" factory-method="getConnectionPassword"/>
        </constructor-arg>
        <constructor-arg index="4">
            <bean class="java.lang.String" factory-bean="propertiesHolder" factory-method="getSqlInsert"/>
        </constructor-arg>
        <constructor-arg index="5">
            <bean class="java.lang.String" factory-bean="propertiesHolder" factory-method="getSqlDelete"/>
        </constructor-arg>
        <constructor-arg index="6">
            <bean class="java.lang.String" factory-bean="propertiesHolder" factory-method="getSqlSelect"/>
        </constructor-arg>
    </bean>
</beans>