<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.SybaseAnywhereDialect</property>
        <property name="hibernate.connection.driver_class">com.sybase.jdbc4.jdbc.SybDriver</property>
        <property name="hibernate.connection.url">jdbc:sybase:Tds:dio32:2638/IDAS_DEV</property>
        <property name="hibernate.connection.username">AIFMD_DEV</property>
        <property name="hibernate.connection.password">AIFMD_DEV1234!</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="hibernate.TransportEntity"/>
        <mapping class="hibernate.PassengerTransportEntity"/>
        <mapping class="hibernate.PassengerCarEntity"/>
        <mapping class="hibernate.TruckEntity"/>
        <mapping class="hibernate.BusEntity"/>
        <mapping class="hibernate.TrolleybusEntity"/>
        <mapping class="hibernate.TramEntity"/>
        <mapping class="hibernate.LimousineEntity"/>
        <mapping class="hibernate.SedanEntity"/>
        <mapping class="hibernate.CoupeEntity"/>

        <mapping class="hibernate.ManufacturerEntity"/>
    </session-factory>
</hibernate-configuration>